*.obj
*.o
*.d
*.lib
*.a
*.elf
*.err
*.hex
*.map
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.zip
*.pdb
*.ncb
*.suo
*.chw
*.sfr
*.ewt
*.user
*.miro
*.avrsuo
*.Debug
*.Release
lint*.txt
*.bak
*.qlc
JLink*.*

tests/

Debug/
Release/
Spy/
QSpy/

dbg/
rel/
spy/

